doctype html
html
	head
		include ./pug/meta.pug

	body
		.loading
			#loading__bar.loading__bar
				include ./pug/loading-bar.svg

		.canvas-wrapper
			canvas.canvas

		.about__bg

		.instruction
			span.instruction-message Click or Press Keys

		button.about__button
			span.wrapper
				span.panel
					span.x.x--a
					span.x.x--b
				span.panel ?

		.about__content

			p.instruction-message Click or Press Keys

			p.credit
				| Made by&nbsp;
				a(href='http://baku89.com' target='_blank') Baku Hashimoto
				br
				| Music by &nbsp;
				a(href='http://www.singing-bell.com/jingle-bells-mp3/' target='_blank') Singing Bell
				br
				a.about__github(href='https://github.com/baku89/recursive-christmas-tree' target='_blank') Github

		script(src='./js/index.js')
